/* Base style for the page */
body {
    color: #444;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1em;
    font-weight: 400;
}

/* Name */
#name {
    border-bottom: 1px solid #33485e;
    color: #33485e;
    font-size: 3em;
    margin: 0 auto;
    min-width: 300px;
    text-align: center;
    text-transform: uppercase;
    width: 60%;
    
}

/* Section Headings */
.section-header {
    background-color: #33485e;
    color: white;
    font-size: 1.5em;
    font-weight: 400;
    margin: 20px 0 10px;
}

/* Job Titles */
h3 {
    font-size: 1.5em;
    font-weight: 600;
}

/* Company Names */
h4 {
    font-size: 1.5em;
    font-weight: 400;
}

/* Job Dates */
h5 {
    font-size: 1em;
    font-weight: 400;
    font-style: italic;
}

/* Contact Info, Skills, Education */
li {
    font-size: 1em;
}

/* Professional Title */
strong {
    color: #33485e;
    font-size: 1.5em;
    text-transform: uppercase;
}