/* Base style for the page */
body {
    color: #444;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1em;
    font-weight: 400;
}

/* Document Container */
#container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}

/* Name */
#name {
    border-bottom: 1px solid #33485e;
    color: #33485e;
    font-size: 3em;
    /* centering margin */
    margin: 0 auto;
    min-width: 300px;
    text-align: center;
    text-transform: uppercase;
    width: 60%;
    
}

/* Section Headings */
.section-header {
    background-color: #33485e;
    color: white;
    font-size: 1.5em;
    font-weight: 400;
    margin: 20px 0 10px;
}

/* Job Titles */
.job-title {
    font-size: 1.5em;
    font-weight: 600;
}

/* Organization Names */
.organization {
    font-size: 1.25em;
    font-weight: 400;
}

/* Job Dates */
.date {
    font-size: 1em;
    font-weight: 400;
    font-style: italic;
}

/* Job Descriptions */
.description {
    margin: 10px 0;
}

/* Contact Information Menu */
.menu {
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Contact Information Menu Items */
.menu li {
    display: inline;
}

/* Education, Skills */
.degrees, .do {
    margin: 5px 0 0;
}

/* Contact Info, Skills, Education */
li {
    font-size: 1em;
}

/* Professional Title */
#title {
    color: #33485e;
    margin: 20px 0 0;
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}